---
---

<form id="searchForm" class="relative">
  <input
    type="text"
    name="query"
    placeholder="Search software tools..."
    class="w-64 px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-300"
  />
  <button
    type="submit"
    class="absolute right-0 top-0 mt-2 mr-2 bg-blue-600 text-white p-2 rounded-full hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
    </svg>
  </button>
</form>

<script>
  const searchForm = document.getElementById('searchForm');
  searchForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const query = new FormData(searchForm).get('query');
    window.location.href = `/directory?search=${encodeURIComponent(query)}`;
  });
</script>